:root {
    --ff-pink: #E1487A;
    --ff-blue: #45C7C1;
    --ff-beige: #FAF3DD;
    --ff-yellow: #E9B533;
    --ff-grey: #5E6472;
}

html {
   font-size: 10px;
   font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
}