:root {
  --ff-pink: #e1487a;
  --ff-blue: #45c7c1;
  --ff-beige: #faf3dd;
  --ff-yellow: #e9b533;
  --ff-grey: #5e6472;
}

html {
  font-size: 10px;
  font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: var(--ff-pink);
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}
